/* Position and sizing of burger button */

.bm-burger-button {
    position: fixed;
    width: 12px;
    height: 12px;
    right: 12px;
    top: 3px;
}


/* Color/shape of burger icon bars */

.bm-burger-bars {
    background: #373a47;
}


/* Position and sizing of clickable cross button */

.bm-cross-button {
    display: none;
    height: 24px;
    width: 24px;
}


/* Color/shape of close button cross */

.bm-cross {
    background: #bdc3c7;
}


/* General sidebar styles */

.bm-menu {
    background: #373a47;
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
}


/* Morph shape necessary with bubble or elastic */

.bm-morph-shape {
    fill: #373a47;
}


/* Wrapper for item list */

.bm-item-list {
    color: #b8b7ad;
    padding: 0.8em;
}


/* Individual item */

.bm-item {
    display: inline-block;
}


/* Styling of overlay */

.bm-overlay {
    background: rgba(0, 0, 0, 0.3);
}


/* Wrapping element */


/* Set some basic padding to keep content from hitting the edges */

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}


/* Carousel */

.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}


/* Make .svg files in the carousel display properly in older browsers */

.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}


/* QR code generator */

#qrCode {
    margin: 15px;
}


/* Hide/rearrange for smaller screens */

@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.unlinked-nav-item {
    padding: 15px;
    color: yellowgreen;
    border-radius: 5px;
    border-style: solid;
}

@media (max-width: 767px) {
    .unlinked-nav-item {
        padding: 15px;
    }
}

.validation-errors {
    color: #ff0000;
    margin-left: 200px;
}

.formfield * {
    vertical-align: top
}

label {
    width: 200px;
    display: inline-block;
}

.normal {
    color: rgb(157, 157, 157);
    margin-top: 8px;
    margin-bottom: 8px;
    padding-top: 6px;
    padding-bottom: 6px;
    vertical-align: middle;
    background-color: transparent;
    border-color: transparent;
}

.st-footer {
    text-align: center;
}

.st-label {
    font-weight: bold;
}

.st-tickets-panel {
    border-radius: 5px;
    background-color: rgb(244, 250, 250);
    padding: 10px;
}

.st-navitem {
    margin-left: 5px;
    margin-right: 5px;
    display: inline;
}

@media screen and (min-width: 767px) {
    /* Hide captions */
    .st-mobileonly {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    /* Hide captions */
    .st-pconly {
        display: none;
    }
}

td {
    padding: 5px;
}

button {
    margin-left: 5px;
    margin-right: 5px;
}