body {
    padding-top: 50px;
    padding-bottom: 20px;
}


/* Wrapping element */


/* Set some basic padding to keep content from hitting the edges */

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}


/* Carousel */

.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}


/* Make .svg files in the carousel display properly in older browsers */

.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}


/* QR code generator */

#qrCode {
    margin: 15px;
}


/* Hide/rearrange for smaller screens */

@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.unlinked-nav-item {
    padding: 15px;
    color: yellowgreen;
    border-radius: 5px;
    border-style: solid;
}

@media (max-width: 767px) {
    .unlinked-nav-item {
        padding: 15px;
    }
}

.validation-errors {
    color: #ff0000;
    margin-left: 200px;
}

.formfield * {
    vertical-align: top
}

label {
    width: 200px;
    display: inline-block;
}

.normal {
    color: rgb(157, 157, 157);
    margin-top: 8px;
    margin-bottom: 8px;
    padding-top: 6px;
    padding-bottom: 6px;
    vertical-align: middle;
    background-color: transparent;
    border-color: transparent;
}

.st-footer {
    text-align: center;
}

.st-label {
    font-weight: bold;
}

.st-tickets-panel {
    border-radius: 5px;
    background-color: rgb(244, 250, 250)
}

td {
    padding: 5px;
}