@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Straight Tar<br />
    Rosemary, Uganda<br />
    <abbr title="Phone">P:</abbr>
    +55-555-5555
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@supportticket.com">Support@supportticket.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@supportticket.com">Marketing@supportticket.com</a>
</address>